<div style="position: relative; margin-top: 15%;">
    <div class="container" style="position:relative; text-align:center; ">
      <button type="button" class="btn btn-outline-success btn-lg" style="margin-right: 5px;"  id="login" routerLink="/login"  routerLinkActive="active" (click)="toLogin();" >
        Log In</button>
      <button type="button" class="btn btn-outline-secondary btn-lg" style="margin-left: 5px;"  id="register" routerLink="/register"  routerLinkActive="active" (click)="toRegister();">
        Register</button>
    </div>
</div>

  <router-outlet></router-outlet>
